[submodule "autoware-debian-config"]
	path = example/config
	url = https://github.com/NEWSLabNTU/autoware-debian-config.git
[submodule "docker"]
	path = docker
	url = https://github.com/NEWSLabNTU/autoware-build-images.git
