Source: ros-humble-autoware-processing-time-checker
Section: misc
Priority: optional
Maintainer: Takayuki Murooka <takayuki.murooka@tier4.jp>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-autoware-cmake, ros-humble-diagnostic-updater, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-tier4-debug-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-autoware-processing-time-checker
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-diagnostic-updater, ros-humble-rclcpp, ros-humble-rclcpp-components, ros-humble-tier4-debug-msgs
Description: A package to find out nodes with common names
