Source: ros-humble-ndt-omp
Section: misc
Priority: optional
Maintainer: Yamato Ando <yamato.ando@tier4.jp>
Build-Depends: debhelper (>= 9.0.0), libpcl-dev, ros-humble-ament-cmake-auto, ros-humble-ros-environment
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-ndt-omp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libpcl-dev
Description: OpenMP boosted NDT and GICP algorithms.
 With some modifications for Autoware
